<?xml version = "1.0" encoding = "UTF-8" ?>
<Configuration>
    <Appenders>
        <File name = "ConnectionPoolAppender" fileName = "logs/ConnectionPoolLog.log" append = "false">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss} [%t] %-5p %c{1} - %M() %m%n"/>
        </File>
        <File name = "DaoAppender" fileName="logs/DaoLog.log" append="false">
            <PatternLayout pattern = "%d{dd.MM.yyyy HH:mm:ss} [%t] %-5p %c{1} - %M() %m%n"/>
        </File>
        <File name="ServiceAppender" fileName="logs/ServiceLog.log" append="false">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss} [%t] %-5p %c{1} - %M() %m%n"/>
        </File>
    </Appenders>

   <Loggers>
       <Logger name = "by.epam.jwd.web.connectionPool" additivity = "false" level = "All">
           <AppenderRef ref = "ConnectionPoolAppender"/>
       </Logger>
       <Logger name = "by.epam.jwd.web.dao" additivity="false" level="All">
           <AppenderRef ref = "DaoAppender"/>
       </Logger>
       <Logger name="by.epam.jwd.web.service" additivity="false" level="All">
           <AppenderRef ref="ServiceAppender"/>
       </Logger>
   </Loggers>
</Configuration>