<?xml version = "1.0" encoding = "UTF-8" ?>
<Configuration status="info">
    <Appenders>
        <Console name="Console-err" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss} [%t] %-5p %c{1} - %M() %m%n"/>
        </Console>
        <Console name="Console-out" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss} [%t] %-5p %c{1} - %M() %m%n"/>
        </Console>
    </Appenders>

   <Loggers>
       <Logger name = "by.epam.jwd.web.connectionPool" additivity = "false">
           <AppenderRef ref="Console-err" level="error"/>
           <AppenderRef ref="Console-out" level="info"/>
       </Logger>
       <Logger name = "by.epam.jwd.web.dao" additivity="false">
           <AppenderRef ref="Console-err" level="error"/>
           <AppenderRef ref="Console-out" level="info"/>
       </Logger>
       <Logger name="by.epam.jwd.web.service" additivity="false">
           <AppenderRef ref="Console-err" level="error"/>
           <AppenderRef ref="Console-out" level="info"/>
       </Logger>
       <Logger name="by.epam.jwd.web.command" additivity="false">
           <AppenderRef ref="Console-err" level="error"/>
           <AppenderRef ref="Console-out" level="info"/>
       </Logger>
       <Root level="info">
           <AppenderRef ref="Console-out"/>
       </Root>
   </Loggers>
</Configuration>